<button name="btnDelete"
        class="btn btn-danger btn-sm"
        ng-disabled="!notEditing"
        ng-click="getEdit(true,'delete')">
    <i class="glyphicon glyphicon-remove"></i> delete
</button>