<button name="btnCancel"
        class="btn btn-default btn-sm"
        ng-disabled="notEditing"
        ng-click="getEdit(false,'normal')">
    <i class="glyphicon glyphicon-ban-circle"></i> Batal
</button>