<div class="form-group" >
    <label class="col-md-{{captionWidth}} col-sm-12 control-label label-sm">
        {{caption}}
    </label>
    <div class="col-md-2 col-sm-12 " style="margin-bottom: -10px; !important;">
        <p class="input-group" >
            <input type="text"
                   class="form-control input-sm"
                   datepicker-popup="dd-MM-yyyy"
                   ng-model="dateModel"
                   is-open="opened"
                   min-date="null"
                   max-date="'2222-12-31'"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   ng-required="true"
                   close-text="Close" />
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default btn-sm"
                        ng-click="open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </p>
    </div>
</div>