<div class="form-group">

    <label class="col-md-{{captionWidth}} col-sm-12 control-label label-sm">
        {{caption}}
    </label>

    <div class="col-md-{{selectWidth}} col-sm-12">
        <div class="input-group input-group-sm" >
            <!--typeahead-->
            <input typeahead-focus
                    name="heaSelect"
                    class="form-control "
                    ng-model="selectModel"
                    focus="lFocus"
                    ng-disabled="lReadOnly"

                    typeahead="item as item.display for item in items | filter:$viewValue | limitTo:10"
                    ng-readonly="lReadOnly">

            <div class="input-group-btn ">
                <button class="btn btn-default " type="button" ng-click="getDropdown()">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </button>
            </div>
            <!--/typeahead-->

        </div>


        <!--<select ng-model="selectModel"-->
                <!--focus= "lFocus"-->
                <!--ng-disabled="lReadOnly"-->
                <!--ng-options = "item.{{itemsSelect}} as item.display for item in items"-->
                <!--ng-change="getChange(selectModel)"-->
                <!--class="form-control input-sm {">-->

        <!--<option value="">- Pilih {{caption}} -</option>-->
        <!--</select>-->

    </div>

</div>

