<div class="form-group mypadding">

    <label class="col-md-{{captionWidth}} col-sm-12 control-label label-sm">
        {{caption}}
    </label>
    <div class="col-md-{{inputWidth}} col-sm-12">
        <input  ng-if="type == 'text'"
                class="form-control input-sm"
                ng-model="txtModel"
                focus= "lFocus"

                ng-readonly="lReadOnly">


        <input  ng-if="type == 'number' || type == 'num'"
                ui-number-mask="{{digit}}"
                placeholder="{{holder}}"
                class="form-control input-sm text-right"
                ng-model="number"
                focus= "lFocus"
                ng-readonly="lReadOnly" >

        <input  ng-if="type == 'rekening' || type == 'kode'"
                txt-rekening
                class="form-control input-sm"
                ng-model="cRekening"
                focus= "lFocus"
                ng-readonly="lReadOnly">

        <input  ng-if="type == 'desimal'"
                placeholder="{{holder}}"
                class="form-control input-sm text-right"
                ng-model="numberDesimal"
                focus= "lFocus"
                ng-readonly="lReadOnly"
                ui-number-mask="{{digit}}" min="3.8"
                max="numberDesimal"

                >

    </div>
</div>
