<div class="form-group">

    <div class="form-group">

        <label class="col-md-{{captionWidth}} control-label ">
            {{caption}}
        </label>

        <div class="col-md-{{selectWidth}}">
            <ui-select name="uiSelect" focus-on='UiSelectDemo1'
                       ng-model="selectModel"
                       theme="bootstrap"
                       ng-disabled="disabled"
                       style="min-width: 300px;"
                       title="pilih {{caption}}">
                <ui-select-match placeholder="pilih {{caption}}">
                    {{$select.selected}}
                </ui-select-match>
                <ui-select-choices
                        repeat="item in items ">
                    <div ng-bind-html="item.kode | highlight: $select.search"></div>
                    <small>

                    </small>
                </ui-select-choices>
            </ui-select>


        </div>

    </div>

</div>
//| propsFilter: {name: $select.search, age: $select.search}