<div class="form-group">
    <label class="col-md-{{labelWidth}} col-sm-12 control-label">{{caption}}</label>
    <div class="col-md-{{inputWidth}} col-sm-12">
        <input  ui-number-mask="{{digit}}"
                placeholder="0"
                class="form-control input-sm text-right"
                ng-model="number"
                focus= "lFocus"
                ng-readonly="lReadOnly" >
    </div>
</div>