<div class="form-group">

    <div class="form-group">

        <label class="col-md-{{captionWidth}} control-label ">
            {{caption}}
        </label>

        <div class="col-md-{{selectWidth}}">

            <div class="input-group">

                <input type="text" class="form-control"
                       placeholder="place holder">
                <span class="input-group-addon" ng-click="showGrid = !showGrid">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </div>
            <div style="position: fixed; width: 100% " ng-show="showGrid" >
                <table class="table table-bordered bg-primary"  >
                    <tbody>
                    <tr ng-click="showGrid = false">
                        <td>01</td>
                        <td>keterangan</td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>


</div>